
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;  
    background-color: #24252a;
  }

  hr {
    width: 70%;
    margin: auto;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button (Restaurants link) */
.dropbtn {
    color: white;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style for the dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content when hovering over the dropdown button/link */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }

  .main-heading {
    text-align: center;
    margin-top: 30px;
  }

.part {
 background: linear-gradient(45deg, #3498db, #e74c3c);
}


  /* Style for the main image */
.main-image {
    width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove any potential extra spacing */
    margin: 0 auto; /* Center the image horizontally */
}

/* CSS for centering the heading and paragraph */
.main-image-container {
    position: relative;
    text-align: center;
}

.main-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Background color for better readability */
    padding: 20px;
}

/* Content Styling */
/* CSS for FAQ */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Optional margin for spacing */
}

.content h2 {
    text-decoration: underline;
}
.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.faq-answer {
    text-align: center;
    display: none;
    padding: 10px;
    background-color: #fff;
}

.faq-item {
    padding: 10px;
}

/* Style the button when active (open) */
.faq-item.active .faq-question {
    background-color: #0088a9;
    color: white;
    text-align: center;
}

/* Show the answer when the button is active (open) */
.faq-item.active .faq-answer {
    display: block;
}


/* Style for the flexbox row below the main image */
.flexbox-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 20px; /* Add some spacing between the main image and the flexbox row */
}

/* Style for each flexbox item within the row */
.flexbox-item {
    flex: 0 0 calc(33.33% - 20px);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease; /* Add a smooth transition effect for the hover effect */
}

.flexbox-item h3 {
    margin: 0;
    font-size: 24px;
}

.flexbox-item img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.flexbox-item p {
    margin: 0;
    font-size: 16px;
}

.flexbox-item:hover {
    transform: scale(1.05); /* Increase the size of the element when hovered */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow when hovered */
}

/* Styles for list containers */
.list-container {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Styles for the modern bullet-pointed list */
.modern-bullet-list {
    list-style-type: none;
    padding: 0;
}

.modern-bullet-list li::before {
    content: "\2022"; /* Unicode bullet character */
    color: #ff9900; /* Bullet color */
    margin-right: 10px;
    font-size: 18px;
}

/* Styles for the modern numbered list */
.modern-numbered-list {
    list-style-type: decimal;
    padding: 0;
}

/* Hotel Branches */

h3 {
    text-align: center;
}

/* FlexBox Row Styling - Hotel Branches */

/* Styles for the flexbox row */
.flexbox-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
    margin-top: 20px; /* Add spacing between the main content and the flexbox row */
}

/* Styles for each section */
.section {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #87CEEB, #FFB6C1);
    border: 1px solid #ccc;
    margin: 20px auto; /* Add margin to create space between sections */
    max-width: 80%; /* Limit the section width */
    transition: transform 0.3s, box-shadow 0.3s;
}

.section h2 {
    font-size: 24px;
    color: #333;
}

.section img {
    max-width: 50%;
    height: auto;
    margin: 10px 0;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

/* Hover effect*/
.section:hover {
    transform: translateY(-5px); /* Move the section up slightly on hover */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
}


/* Table Styling - Hotel Branches */

/* CSS for the footer table */
/* CSS for the footer table */
.table {
  width: 90%; /* Set the table width to 50% */
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #f4f4f4; /* Set your desired background color here */
  border-radius: 10px; /* Add rounded corners to the table */
  overflow: hidden; /* Hide overflowing content on small screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}


.table caption {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background-color: #0088a9; /* Set your desired caption background color here */
  color: white; /* Set caption text color */
}

.table th {
  background-color: #333; /* Set header cell background color */
  color: white; /* Set header cell text color */
  padding: 10px;
  text-align: left;
}

/* Style for the table data cells */
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc; /* Add a border to separate rows */
}

/* Style for the table footer cells */
.table tfoot td {
  background-color: #f4f4f4; /* Set footer cell background color */
  font-weight: bold;
  text-align: center;
}

/* Adventures Page Styling */

/* CSS for the column */
/* Style for the column */
.column {
    width: 80%;
    margin: 40px auto 0;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #87CEEB, #FFB6C1);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.column h2 {
    font-size: 24px;
    color: #333;
}

.column img {
    max-width: 70%;
    height: auto;
    margin: 10px 0;
}

.column p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

/* Modern hover effect */
.column:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

/* Restaurants Page Styling */
/* Style for each restaurant section */
.restaurant-section {
    border: 1px solid #ccc;
    padding: 20px;
    background: linear-gradient(to bottom, #87CEEB, #FFB6C1);
    margin: 20px auto; /* Center horizontally by setting left and right margins to auto */
    text-align: center;
    max-width: 80%;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover styles for restaurant-section */
.restaurant-section:hover {
    transform: scale(1.05); /* Increase the size of the section on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition-timing-function: linear; /* Use linear timing function for smoother transition */
}

/* Style for restaurant images */
.restaurant-section img {
    max-width: 50%;
    height: auto;
    margin: 10px 0;
}

/* Style for restaurant names */
.restaurant-section h2 {
    font-size: 24px;
    color: #333;
}

/* Style for restaurant descriptions */
.restaurant-section p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
/* CSS for Centered Links */

.centered-links {
    text-align: center;
    margin-top: 20px; /* Adjust the top margin as needed */
}

.modern-button {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #0088a9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease 0s;
    margin: 10px; /* Adjust margin to separate buttons */
}

.modern-button:hover {
    background-color: #006688;
}



/* footer styling */

.footer {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px; /* Add margin-top to create whitespace above the footer */
}

.footer h3{
    color: white;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

/* Style for the text row at the end of the footer */
.footer-text-row {
    display: flex;
    justify-content: center;
}

.footer-text-row p {
    margin: 0 10px;
}
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /* Booking Hotel Page Styling */
/* Booking Hotel Page Styling */
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

h2 {
    text-align: center;
} 


.container h2 {
  margin: 20px;
}

form {
  display: grid;
  gap: 10px;
  padding: 20px; /* Add padding to create space around the form */
  border-radius: 8px; /* Add rounded corners to the form */
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}


label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
  @media only screen and (max-width: 860px) {
    /* Hide some elements in the header */
    .nav__links,
    .cta {
        display: none;
    }

    /* Display the menu button */
    .menu {
        display: initial;
    }

    /* Adjust the footer styling for responsiveness */
    .footer {
        padding: 20px 0; /* Add padding to separate footer content */
    }

    .footer h3 {
        font-size: 1.8rem; /* Decrease the font size */
    }

    .footer p {
        font-size: 12px; /* Decrease the font size */
        line-height: 24px;
    }

    /* Adjust the text row at the end of the footer */
    .footer-text-row p {
        margin: 0 5px; /* Reduce the margin for smaller screens */
        font-size: 10px;
    }

    .footer-text-row h4 {
        font-size: 10px;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .footer-text-row p {
        margin: 0 5px; /* Reduce the margin for smaller screens */
        font-size: 10px; /* Set the font size for smaller screens */
    }

    .footer-text-row h4 {
        font-size: 10px; /* Set the font size for smaller screens */
    }
}

@media screen and (max-width: 418px) {
    .main-image-container {
      max-width: 100%; /* Reduce the maximum width */
    }
  
    .centered-content {
      padding: 10px; /* Adjust padding as needed */
    }
  
    .main-image {
      max-width: 100%; /* Make sure the image scales with the container */
    }
  }

  @media screen and (max-width: 377px) {
    .main-image-container {
      text-align: center; /* Center the content */
    }
  
    .main-image {
      max-width: 100%; /* Make sure the image scales with the container */
    }
  
    .centered-content {
      padding: 10px; /* Adjust padding as needed */
    }
  }